.custom-shape-divider-top-1606317026 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1606317026 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1606317026 .shape-fill {
    fill: #ff7043;
}
